<!-- Footer -->
<footer class="page-footer">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="d-flex justify-content-around py-4">
  
        <!-- Grid column -->
        
          
        <div class="col-2">
          <a class = "icons">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </div>
        <div class="col-2">
          <a class = "icons-1">
            <i class="fa fa-github"></i>
          </a>
        </div>
        <div class="col-2">
            <a class = "icons">
              <i class="fa fa-envelope"></i>
            </a>
        </div>
        <div class="col-6">
            <i class="fa fa-phone-square" aria-hidden="true"> <span class="tel">Cellular telephone number: + 6478618116</span></i>
        
        </div>
              
             
             
           
            </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  

  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">All rights reserved © 2020 Copyright - <strong style="color:#019fb6;">Margarita Selenko</strong>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->