<div class="container mainTitle">
  <div class="row justify-content-center">
    <div class="col-4 profilePicture">
      <img src="assets/img/profile1.jpg"  width="450px" height="620px">
    </div>
    <div class="col-8 quote">
      <p><span class="title1">EVERYDAY LIFE IS LIKE PROGRAMMING.</span> <br>
        <span class="title2">If you love something you can put beauty on it.</span> <br>
        <span class="title3">- Donald Knuth</span>
      </p>
    </div>
  </div>
</div>


<div class="separator"><h1>01 Welcome!</h1></div>

<div class="article">
 
  <!-- <div class="grid_main"> 
    
    <div class="col_1">
      <h5>Welcome!</h5>
    </div>
    <div class="col_2"></div>
    <div class="col_3">
      Initially dedicated to the industrial sector of microelectronics, Adis Transition's offer has gradually evolved
      from a product offer to an ultra-qualitative service offer for all sectors operating in complex and multifactorial
      environments.

      More than 20 years of management and operational activity in very restrictive high technology sectors guarantee a
      solution-oriented service and strive to give meaning to industrial performance.
    </div>

    <div class="col_4">
      <h5>Why I choose programming?</h5>
    </div>
    <div  class="col_5"></div>
    <div class="col_6"></div>
    <div class="col_7">
      Initially dedicated to the industrial sector of microelectronics, Adis Transition's offer has gradually evolved
      from a product offer to an ultra-qualitative service offer for all sectors operating in complex and multifactorial
      environments.

      More than 20 years of management and operational activity in very restrictive high technology sectors guarantee a
      solution-oriented service and strive to give meaning to industrial performance.
    </div>

  </div> -->

  <div class="container">
    <div class="row">
      <div class="image-container col-md-4">
          <img src="assets/img/computer.jpg" class="img-fluid">
      </div>
      <div class="col-md-4">
        <h5>Welcome!</h5>
        <hr>
        <p>Initially dedicated to the industrial sector of microelectronics, Adis Transition's offer has gradually evolved
            from a product offer to an ultra-qualitative service offer for all sectors operating in complex and multifactorial
            environments.
      
            More than 20 years of management and operational activity in very restrictive high technology sectors guarantee a
            solution-oriented service and strive to give meaning to industrial performance.</p>
      </div>
      <div class="col-md-4 col_2">
        <h5>Yasir</h5>
        <hr>
        <p>Initially dedicated to the industrial sector of microelectronics, Adis Transition's offer has gradually evolved
            from a product offer to an ultra-qualitative service offer for all sectors operating in complex and multifactorial
            environments.
      
            More than 20 years of management and operational activity in very restrictive high technology sectors guarantee a
            solution-oriented service and strive to give meaning to industrial performance.</p>
      </div>
    </div>
  </div>

</div>



